@page "/Role/CreateRole"
@inject IRoleService RoleService
@inject NavigationManager Navigation

<h3>Create Role</h3>

<EditForm Model="role" OnValidSubmit=Create>
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">
            Role Name
            <InputText class="form-control" placeholder="Role Name" @bind-Value=role.Name />
        </label>
        <ValidationMessage For="()=> role.Name" />
    </div>

    <ActionTrees AccessTree="role.AccessTree"></ActionTrees>

    @if (showError)
    {
            <p class="alert alert-danger">The operation was not succeeded</p>
    }

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private UpdateRoleDto role = new();
    private bool showError = false;

    private async Task Create()
    {
        showError = false;

        var createdRole = await RoleService.CrateRoleAsync(role);

        if (createdRole is not null)
            Navigation.NavigateTo("Role");

        showError = true;
    }
}
