@page "/Role/RoleDetails/{Id:int}"
@inject IRoleService RoleSerive

@if (role is not null)
{
    <h3>@role.Name</h3>

    <ShowActionTrees AccessTree="role.AccessTree"></ShowActionTrees>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private RoleDto role;

    protected override async Task OnInitializedAsync()
    {
        role = await RoleSerive.GetRoleAsync(Id);
        int i = 0;
    }
}
